@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noticia+Text:ital@1&display=swap");

// $color-bg: 	#bde4b179;
// $color-bg: 	#eeab2d6e;
$color-bg: #fffb0091;

// $color-hov: #50cdff;
$color-hov: #ffa600;
$color-red: rgba(250, 40, 40, 0.897);
$color-red-hov: rgba(250, 40, 40, 0.719);

$color-green: #3d9e30;
$color-white: #ffffff;
$color-btn: rgba(13, 253, 33, 0.349);

$trans: .2s ease-in;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noticia Text', serif;

    body {
        background-color: $color-bg;
    }

    &:focus {
        outline: none;
    }

    ::placeholder {
        color: $color-white;
    }
}

.header-app {
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: $color-white;
    width: 100%;
    height: 169px;
    background-image: url(./todoractbg.jpeg);
    background-position: 9% 31%;

    >h1 {
        text-align: center;
        font-family: 'Indie Flower', cursive;
        font-size: 60px;
    }
}

.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-item {
    display: flex;
    align-items: center;
}

.input-data {
    padding: 4px;
    width: 100%;

    display: flex;
    justify-content: center;

    input {
        padding: 4px 16px;
        width: 420px;
        margin-right: 10px;
        border-radius: 20px;
        background-color: $color-btn;
        border: 3px solid $color-green;
        color: $color-white;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
    }

    .add-task {
        border-radius: 20px;
        height: 34px;
        border: 3px solid $color-green;
        width:  100px;

        background-color: $color-btn;
        transition: background-color $trans;
        color: $color-white;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;

        &:hover {
            border-color: $color-hov;
        }

        &:active {
            background-color: $color-hov;
            border-color: $color-hov;
        }
    }
}

.body-app {
    display: flex;
    justify-content: center;

    width: 100%;
}

.to-do-task {
    width: 320px;
    height: 36px ;
    padding: 7px 11px;
    margin: 6px;
    border: 3px solid $color-green;
    border-radius: 20px;
}

.to-do-task_done {
    opacity: 0.4;
    text-decoration: line-through;
}

.save-task_done, .edit-task_done {
    display: none;
}

.task-item {
    .edit-task, .save-task {
        border-radius: 20px;
        height: 36px;
        width: 60px;
        margin: 6px 4px;
        text-align: center;
        line-height: 18px;
        font-size: 14px;
        font-weight: bold;

        &:hover {
            border-color: $color-hov;
        }
        &:active {
            background-color: $color-hov;
            border-color: $color-hov;
        }
    }

    .edit-task {
        background-color: $color-btn;
        transition: background-color $trans;
        border: 3px solid $color-green;
    }

    .save-task {
        background-color: $color-green;
        transition: background-color $trans;
        border: 3px solid $color-btn;
        color: $color-white;
        
    }

    .delete-task {
        border-radius: 20px;
        height: 36px;
        width: 36px;
        border: 3px solid $color-green;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 4px;
        font-size: 14px;
        font-weight: bold;
        background: $color-white;

        &:hover {
            border-color: $color-red;
            background-color: $color-red;
            color: $color-white;
        }

        &:active {
            background-color: $color-red-hov;
            border-color: $color-red-hov;
            color: $color-white;
        }
    }
    
    &:first-child {
        margin-top: 36px;
    }

    &:last-child {
        margin-bottom: 36px;
    }
}
